{% extends "../basic_template/basic_template.html" %}

<!--individual order details-->

{% block content %}
<br>
<h2>Invoice</h2>
<hr>

<p>To: {{name}}</p>
<p>Address: {{order.delivery_address}}</p>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="col-1">Product</th>
        <th scope="col" class="col-1">Producer</th>
        <th scope="col" class="col-1">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{order.product_name}}</td>
        <td>{{order.producer_name}}</td>
        <td>{{order.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>

<h4>Delivery Details</h4>

<div class="table-responsive">

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-1"># Tracking Item</th>
            <th scope="col" class="col-1">Order Id</th>
            <th scope="col" class="col-1">Order State</th>
            <th scope="col" class="col-1">Timestamp</th>
            <th scope="col" class="col-1">Location</th>
            <th scope="col" class="col-1">Start Location</th>
            <th scope="col" class="col-1">End Location</th>
            <th scope="col" class="col-1">Delivery Method</th>
            <th scope="col" class="col-1">Shipping Company</th>
            <th scope="col" class="col-1">Temperature</th>
            <th scope="col" class="col-1">Quality Rating</th>
            <th scope="col" class="col-1">Quality Note</th>
            <th scope="col" class="col-1">QA Company</th>
        </tr>
        </thead>
        <tbody>
            {% for item in tracking_info %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.order_id}}</td>
                    <td>{{item.order_state}}</td>
                    <td>{{item.time_stamp}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.start_location}}</td>
                    <td>{{item.end_location}}</td>
                    <td>{{item.delivery_method}}</td>
                    <td>{{item.shipping_company}}</td>
                    <td>{{item.temperature}}</td>
                    <td>{{item.quality_rating}}</td>
                    <td>{{item.quality_note}}</td>
                    <td>{{item.qa_company}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br><br><br>

<h4>Blockchain Details for Order</h4>

<div class="table-responsive">

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-1"># Tracking Item</th>
            <th scope="col" class="col-1">Order Id</th>
            <th scope="col" class="col-1">Order State</th>
            <th scope="col" class="col-1">Previous Hash</th>
            <th scope="col" class="col-1">Hash</th>
            <th scope="col" class="col-1">Previous Block Location</th>
            <th scope="col" class="col-1">Block Location</th>
            <th scope="col" class="col-1">Hashed Text</th>
        </tr>
        </thead>
        <tbody>
            {% for item in tracking_info %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.order_id}}</td>
                    <td>{{item.order_state}}</td>
                    <td>{{item.previous_hash}}</td>
                    <td>{{item.hash}}</td>
                    <td>{{item.previous_block_loc}}</td>
                    <td>{{item.block_loc}}</td>
                    <td>{{item.hashed_text}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<a href="{% url 'add_tracking_info' order.id %}">Generate New Tracking Item</a>
<br>
<a href="{% url 'generate_full_tracking_info' order.id %}">Generate Rest of Tracking Info</a>
<br>
<br>
<br>
{% endblock %}
